{% extends "layout.html" %}
{% block content %}
<h1>Add Transaction</h1>

<form method="POST" class="form">
  <label>Type:</label>
  <select name="type" required>
    <option value="Income">Income</option>
    <option value="Expense">Expense</option>
  </select>

  <label>Amount:</label>
  <input type="number" step="0.01" name="amount" required />

  <label>Category:</label>
  <input type="text" name="category" placeholder="e.g. Rent, Groceries, Paycheck" />

  <button type="submit">Add Transaction</button>
</form>
{% endblock %}
